@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  background-color: #881c01;
  background-image: url("../assets/bgimg.png");
  background-size: cover;
  height: 100vh;
}

i {
  font-size: 1.5rem;
}

p {
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #3d0c00;
  width: 100vw;
  padding: 0.5rem 0.6rem;
  white-space: nowrap;
}

nav p {
  font-weight: bold;
  font-size: 1.2rem;
}

main {
  margin: 3rem auto;
  text-align: center;
}

table {
  margin: auto;
  padding: 0.6rem;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 0.5rem;
  text-wrap: nowrap;
}

th {
  background-color: #444444;
  color: #fff;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #000000a7;
  width: 100vw;
  font-size: 0.7rem;
  padding: 0.2rem 0.6rem;
  white-space: nowrap;
}

/****************************** HOME PAGE ******************************/
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-option {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 9.2rem;
  border-radius: 5px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.option-link {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.option-link:hover {
  text-decoration: underline;
}

input:hover {
  background-color: #cdcdcd;
}

tr:nth-child(9) {
  border: 0;
}
.logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

/****************************** VITALS PAGE ******************************/
.info {
  margin-left: 1.2rem;
  text-align: left;
}

.info h2 {
  font-size: 2.5rem;
}

.info p {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.screening-info {
  margin: 3.2rem auto;
  height: 90%;
  width: 40%;
}

.profile {
  display: flex;
  background-color: #000;
  padding: 1.2rem;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.profile-pic {
  height: 35%;
  width: 35%;
  border-radius: 6px;
}

.vitals {
  background-color: #a3a3a3;
}

.check-results {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  padding: 1.2rem;
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

.check-btn {
  background-color: #565656;
  color: #fff;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}

.check-btn:active {
  background-color: #444444;
  transform: scale(0.9);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem auto 10rem auto;
  line-height: 4rem;
}

.result h1 {
  font-size: 5rem;
  padding-bottom: 0.7rem;
}

.result button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

.result button:hover {
  color: #dedede;
}

.error-text {
  color: #b70000;
}

.status-msg {
  display: flex;
  align-items: center;
}

.take-action {
  background-color: transparent;
  color: #001fa7;
  text-decoration: underline;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.5rem;
}

/************************* ERROR PAGE **************************/
.error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem 0;
}

.error-msg h1 {
  font-size: 6rem;
  line-height: 7.5rem;
}

.return-home {
  color: #fff;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.gif {
  border-radius: 50%;
}
